h2{
  font-family: "Open Sans", sans-serif;
}
form{
  display: flex;
  width: 100%;
  margin-bottom: 24px;
}
form input{
  width: auto;
  border: 1px #000000 solid;
  padding: 0.8em 1.6em;
}
@media screen and (max-width: 1000px) {
  form input{
    width: 100%;
  }
}
table{
  width: 100%;
  font-family: "Open Sans", sans-serif;
}
table thead{
  background: black;
  color: white;
}
table td{
  box-sizing: border-box;
  padding: 6px 12px;
  width: 100%;
}
table tbody tr:nth-child(2n){
  background: rgba(0, 0, 0, 0.06);
}
table tbody td button{
  background: #000000;
  color: white;
  border: none;
  padding: 0.6em 1.2em;
  border-radius: 0.3em;
}
